nav, h1 {

  text-align: center;

}

h1 {

  font-family: cursive;
  font-size: 40px;

}

body {

  background-color: tan;

}

hr {

  color: gold;
  border-width: 3px;
  margin-bottom: 35px;
  margin-top: 30px;

}

nav {

  font-size: 25px;
  font-family: garamond;

}

h2.indexh2 {

  text-align: center;
  font-family: garamond;
  text-transform: uppercase;

}

#biography{

  font-style: italic;
  font-weight: bold;
  text-decoration: none;

}

p {

  font-family: garamond;
  font-size: 20px;
  margin-left: 30px;
  margin-right: 30px;

}

h2.accomplishments {

  font-family: garamond;
  font-size: 30px;
  margin-left: 20px;

}

ul {

  font-family: garamond;
  font-size: 20px;
  margin-left: 20px;

}

.elizabeth {

  height: 600px;
  width: 500px;
  margin-left: 440px;
  border: solid gold 4px;

}

#experience {

  font-style: italic;
  font-weight: bold;
  text-decoration: none;

}

.sovereignruler {

  height: 400px;
  width: 300px;
  margin-left: 535px;
  border: solid gold 4px;

}

.signature {

  margin-left: 20px;
  border: solid gold 4px;

}

.moreinfo {

  font-weight: bold;

}

.socialmedia {

  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  
}



